{% extends "base.html.twig" %}

{% block body %}
<div id="content">
	<h3>Profile</h3>
	{% include "FOSUserBundle:Profile:show_content.html.twig" %}
	
	<ul>
		<li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
		<li><a href="{{ path('all_posts') }}">Your Posts</a></li>
		{% if is_granted("ROLE_ADMIN") %}
			<li><a href="{{ path('user_index') }}">Users</a></li>
		{% endif %}
		<li><a href="{{ path('todolist_index') }}">Todolists</a></li>
		{% if is_granted("ROLE_ADMIN") %}
			<li><a href="{{ path('request_control') }}">Requests</a></li>
		{% endif %}
		<li><a href="{{ path('map_index') }}">Map</a></li>
		<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
	</ul>
</div>
{% endblock body %}
