{% extends 'base.html.twig' %}

{% block body %}
    <h3>Users</h3>
    <div id="content">
        <div class="edit-form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Find" />
            {{ form_end(form) }}
        </div>
        {% if list is defined %}
            
                {% for request in list %}
                    <h3>User <a href="{{ path('wall_index', { 'id': request.wall.id }) }}">{{ request }}</a></h3>
                {% endfor %}
            
        {% else %}
            <h3>User doesn't exist</h3>
        {% endif %}
    </div>
{% endblock %}
