{% extends 'base.html.twig' %}

{% block body %}
    <h3>Maps</h3>

    <div id="content">
        <ul>
           <li>
               <a href="{{ path('marker_index', { 'id': map }) }}">View my map</a>
           </li>
       </ul>
           {% for request in requests %}
                    User {{ request.map.user }} want you to be resolver              
                       <ul>
                           <li>
                               <a href="{{ path('mapresolver_edit', { 'id': request.id }) }}">Accept/Reject</a>
                           </li>
                       </ul>
           {% endfor %}
           <h3>Accessable maps:</h3>
           <ul>
           {% for map in accessable %}
                   <li><a href="{{ path('marker_index', { 'id': map.id }) }}">{{ map.user }}'s map</a></li>
           {% endfor %}
           </ul>
    </div>
{% endblock %}
