{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marker</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marker.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ marker.title }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ marker.lat }}</td>
            </tr>
            <tr>
                <th>Lng</th>
                <td>{{ marker.lng }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marker_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marker_edit', { 'id': marker.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
