{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggertodolist/css/todolist.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h3>TodoList list</h3>
    <div id="content" class="container">
        <ul>
            <li>
                <a href="{{ path('todolist_new') }}">Create a new list</a>
            </li>
        </ul>
        <ul>
        <h3>Yours:</h3>
        {% for todoList in todoLists %}
            <li class="row single-item">
                Name: <span>{{ todoList.name }}</span>

                    <ul>
                        <li>
                            <a href="{{ path('todolist_show', { 'id': todoList.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('todolist_edit', { 'id': todoList.id }) }}">edit</a>
                        </li>
                    </ul>

            </li>
        {% endfor %}

            {% if is_granted("ROLE_ADMIN") %}{% else %}
            <h3>Accessable:</h3>
            {% for todoList in accessable %}
                <li class="row single-item">
                    Name: <span>{{ todoList.name }}</span>

                        <ul>
                            <li>
                                <a href="{{ path('todolist_show', { 'id': todoList.id }) }}">show</a>
                            </li>
                        </ul>

                </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

    
{% endblock %}
